* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/******************HEADER*******************/
header ul {
    display: flex;
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
    margin: 25px 0;
    height: 80px;
}

header li {
    width: 100%;
    font-size: medium;
}

/******************ACCUEIL*****************/

.aze {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.match {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.p {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 20px;
}

.classement {
    width: 30%;
    margin-left: 50px;
}

.bz {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.actu {
    width: 30%;
    display: flex;
    flex-direction: column;
}

/******************MATCHS******************/
.competition {
    display: flex;
    justify-content: center;
}

select {
    text-align: center;
}

h1 {
    font-size: medium;
}   